<!DOCTYPE html>
<html>
  <%= link_to 'Home', root_path %>
  <head>
    <h1>Dog Quotes</h1>
  </head>
  <body background = "/images/bg.jpg">

    <p>Dogs are commonly referred to as “man’s best friend,” and famous people also had choice and lasting words for our four-legged colleagues.</p>
    
  </body>
</html>

