<!DOCTYPE html>
<html>
  <%= link_to 'About', about_path %>
  <head>
    <h1>Dog Quotes</h1>
  </head>
  
  <body background = "/assets/images/bg.jpg">
    <ul>
      <li>“You can say any foolish thing to a dog, and the dog will give you a look that says, ‘Wow, you’re right! I never would’ve thought of that!’” —Dave Barry</li>
      <li>“A dog teaches a boy fidelity, perseverance, and to turn around three times before lying down.” —Robert Benchley</li>
      <li>“A dog is the only thing on earth that loves you more than he loves himself.” —Josh Billings</li>
      <li>“Hounds follow those who feed them.” ―Otto von Bismarck </li>
      <li>“Dogs are not our whole life, but they make our lives whole.” —Roger Caras</li>
      <li>“Dogs are wise. They crawl away into a quiet corner and lick their wounds and do not rejoin the world until they are whole once more.” —Agatha Christie</li>
    </ul>
    

  </body>
</html>

